.workspace {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $workspaceNavWidth;
  background-color: white;

  @import './workspace-toolbar';
  @import './workspace-page';
  @import './workspace-message';
  @import 'components/grid';
}
