// @import 'mixins/pulse';

$workspaceToolbarHeight: 2.5em;
$workspaceToolbarColor: #f5f5f5;

.workspace-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $workspaceToolbarHeight;
  background-color: $workspaceToolbarColor;
  box-shadow: 0 -0.2em 1em rgba(0,0,0,0.5);
  padding: 0 1em 0 0;
  z-index: 20;

  .portfolio-select {
    position: relative;
    top: 7%;
    width: 35%;
    left: 0.5em;
    float: left;

    > * {
      outline: none;
      box-shadow:none;
    }

    .Select-control {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    .Select-menu-outer {
      z-index: 100;
    }

    &.noSelection .Select-control {
      box-shadow: 0 0 0.2em 0.2em rgba(150,220,150, 1);
      background-color: #f5fff5;
      // @include pulse(20%, 0, 255, 0);

      .Select-placeholder {
        color: #060;
        font-weight: bold;
      }
    }

    &.isLoading .Select-control {
      background-color: transparent;

      .Select-placeholder {
        color: #fff;

        &:before {
          content: 'Loading Portfolios...';
          display: inline-block;
          position: absolute;
          color: #aaa;
        }
      }
    }

    .Select-value {
      font-weight: bold;
    }

  }

  .filters {
    float: right;

    @import 'components/stategroup';
  }
}
