$workspaceNavWidth: 10em;
$workspaceNavColor: #eee;

.workspace-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: $workspaceNavWidth;
  background-color: $workspaceNavColor;
  z-index: 30;

  .group {
    a {
      display: block;
      padding: 0.6em 1.3em;
      text-transform: capitalize;
      transition: all 0.2s;

      &:hover, &.active {
        background-color: #e0e0e0;
        text-decoration: none;
        padding: 0.8em 1.4em;
        font-size: 1.1em;
      }

      &.active {
        font-weight: bold;
        background-color: #d0d0d0;
      }
    }
  }

  .logo-container {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    right: 50%;
  }
}
